.header-main{
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
}
.outer-header{
  background-color: black;
}
.contactlist{
}
.contact-package{
  display: flex;
  flex-direction: row;
}